module Integrations.Secrets where

-- Google API credentials
-- Get them from https://console.developers.google.com/apis/credentials

-- These values are made up, but they'd look something like this. Replace them
-- with the keys you created for your account.
gmailClientId = "9827493247324-lkj234ljk3242lk2j34.apps.googleusercontent.com"
gmailClientSecret = "I23I-IUsfsIDUFuFUKDSF-JK23K"